{% extends 'base.html' %}

{% block content %}
<style>
  a:hover {
  transition: transform .3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);  
  transform: scale(1.4);
}
</style>
  <h1>최신순</h1>
  <div class="row">
    {% for movie in movies %}
      <div class="card col-3">
        <a href="{% url 'movies:movie_detail' movie.pk %}"><img class="card-img-top" src="https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}" alt=""></a>
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
        </div>
      </div>
    {% endfor %}
  </div>
  
{% endblock %}