{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% load bootstrap4 %}
{% block additional_styles %}
<style>
  body{

    position: relative;
    z-index:1;
  }
  body::after {
    width:100%;
    min-height:100%;
    content:"";
    background-image:url('/static/images/community.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    opacity: 0.5;
  }
</style>
{% endblock %}

{% block content %}
<div style="height:20px;"></div>
<div class="card mt-5 mx-auto text-left p-3" style="width: 25rem; opacity:0.8;">
    <h1 class="text-center">로 그 인</h1>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary btn-lg btn-block" submit="">로그인</button>
    </form>
    <br>
    <h3 class="text-center">SNS로 로그인</h3>
    <div class="social-login-container" style="margin: 0; padding: 0;"></div>
        <a href="{% provider_login_url 'naver' %}">
        <img src="{% static 'accounts/images/naver_login.png' %}" class="login_btn" alt="naver" style="max-width:100%; height:auto;">
        </a>
        <a href="{% provider_login_url 'google' %}">
        <img src="{% static 'accounts/images/google_login.png' %}" class="login_btn" alt="google" style="max-width:100%; height:auto;">
        </a>
    </div>
    <br>
    <p class="text-center">오늘영화가 처음이신가요? <a id="a-signup" href="{% url 'accounts:signup' %}"><b>회원가입</b></a></p>

</div>
{% endblock  %}
